.card-control{
    display: none;
    position: absolute;
    width: 95%;
    z-index: 5;
    height: 65%
}
.main{
    box-shadow: 0 0 5px #c2c2c2 !important;
}

.order-card:hover{
    .card-control{
        display: flex;
    }

    .main{
        box-shadow: 0 0 5px #ff4081 !important;
    }

    .banner{
        display: flex !important;
        background-color: #4444448a;
        border-radius: 10px;
        box-shadow: 0 0 5px 5px #4444448a !important;
        width: 100%;
    }
}