<div class="">
    <button mat-raised-button [matMenuTriggerFor]="menu" class="drop-button h-100  p-0" color="accent">
        <div class="d-flex  py-2">
            <div class="d-md-inline-block d-none text-wrap  p-0" *ngIf="!selectedAddress">Select Delivery Address</div>
            <div class="d-md-inline-block d-none text-wrap  p-0" *ngIf="selectedAddress">{{getAddressStr(selectedAddress)}}</div>
            <div class="d-inline-block d-md-none">
                Delivery <mat-icon>edit_location</mat-icon>
            </div>
            <div class="d-md-inline-block d-none p-0 m-0 align-self-center">
                <mat-icon>expand_more</mat-icon>
            </div>
        </div>
    </button>
    <!-- <mat-radio-group [(ngModel)]="selectedAddress"> -->
        <mat-menu #menu="matMenu" class="w-75">
            <button *ngFor="let address of addressList" 
                mat-menu-item (click)="onAddressSelected(address)" class="p-2 menu-button  ">
                <div class=" ">
                    {{getAddressStr(address)}}
                </div>
            </button>
        </mat-menu>
    <!-- </mat-radio-group> -->
</div>