<mat-toolbar id="main-toolbar" color="primary" class="container-fluid py-5 fl">
    <div class="header-slot  col-3 col-md-4">
        <a class="" routerLink="home">
            <div class="d-inline-block h1 samarkan">{{title}}</div>
        </a>
    </div>
    <div class="header-slot  col-2 col-sm-3 col-md-4">
        <app-search></app-search>
    </div>
    <div class="header-slot  col-4 text-end">
        <div class="">
            
            <div *ngIf="loggedIn==true && userCredentials.userType =='CARRIER'" class="button-container d-inline-block">
                <button mat-fab extended matTooltip="Delivery Hub" routerLink="delivery-hub"
                    color="warn">
                    <mat-icon class="p-0 m-0">local_shipping</mat-icon>
                    <p class="p-0 m-1">
                        Hub
                    </p>
                </button>
            </div>
            <div *ngIf="loggedIn==true && userCredentials.userType =='SELLER'" class="button-container d-inline-block">
                <button mat-fab extended matTooltip="Store Front" routerLink="/shop/{{userCredentials.userId}}"
                    color="warn">
                    <mat-icon class="p-0 m-0">store</mat-icon>
                    <p class="p-0 m-1">
                        Store Front
                    </p>
                </button>
            </div>
            <div class="button-container d-inline-block ">
                <button mat-mini-fab matTooltip="Home" routerLink="home" class="">
                    <mat-icon class="">home</mat-icon>
                </button>
            </div>
            <div class="button-container d-inline-block ">
                <button mat-fab extended matTooltip="Log In" routerLink="login" *ngIf="loggedIn!=true"
                    class="container-fluid" color="warn">
                    <mat-icon class="p-0 m-0">power_settings_new</mat-icon>
                    <p class="p-0 m-1">
                        Log In
                    </p>
                </button>
                <button *ngIf="loggedIn==true" mat-mini-fab matTooltip="Log Out" (click)="logout()" class="">
                    <mat-icon>logout</mat-icon>
                </button>
            </div>
            <div class="button-container d-inline-block">
                <button mat-mini-fab matTooltip="Profile" routerLink="dashboard" *ngIf="loggedIn==true" class="">
                    <mat-icon class="">person</mat-icon>
                </button>
                <button mat-fab extended matTooltip="Register" routerLink="register" *ngIf="loggedIn!=true"
                    class="container-fluid" color="warn">
                    <mat-icon class="p-0 m-0">person_add</mat-icon>
                    <p class="p-0 m-1">
                        Register
                    </p>
                </button>
            </div>
            <div *ngIf="loggedIn==true && userCredentials.userType !='CARRIER'" class="button-container d-inline-block">
                <button mat-mini-fab matTooltip="Orders" routerLink="orders"
                    color="warn">
                    <mat-icon class="p-0 m-0">receipt</mat-icon>
                </button>
            </div>
            <div *ngIf="loggedIn==true && userCredentials.userType =='CUSTOMER'"
                class="button-container d-inline-block">
                <button mat-fab extended matTooltip="Cart" color="warn" (click)="toggleCartDrawer()"
                    [matBadge]="getCartCount()" matBadgePosition="after" matBadgeColor="primary" matBadgeSize="medium"
                    [matBadgeHidden]="getCartCount()==0">
                    <mat-icon class="p-0 m-0">shopping_cart</mat-icon>
                    <p class="p-0 m-1">
                        Cart
                    </p>
                </button>
            </div>
        </div>
    </div>
</mat-toolbar>