  a:link {
    color: inherit;
    text-decoration: none;
  }
  .title{
    color: inherit;
    text-decoration: none;
    font-size:  min(max(3vw, 2rem), 4rem);
    
  }
  .header-slot{
    /* border: 1px solid red; */
  }