<mat-toolbar id="main-toolbar" color="primary" class="container-fluid py-5 justify-content-between">
    <a class="" routerLink="home">
        <div class="d-inline-block h1">{{title}}</div>
    </a>
    <div class="">
        <div class="container">
            <div *ngIf="loggedIn==true && userCredentials.userType =='SELLER'" class="button-container d-inline-block">
                <button mat-fab extended matTooltip="Store Front" routerLink="/shop/{{userCredentials.userId}}"
                    color="warn">
                    <mat-icon class="p-0 m-0">store</mat-icon>
                    <p class="p-0 m-1">
                        Store Front
                    </p>
                </button>
            </div>
            <div class="button-container d-inline-block ">
                <button mat-mini-fab matTooltip="Home" routerLink="home" class="">
                    <mat-icon class="">home</mat-icon>
                </button>
            </div>
            <div class="button-container d-inline-block ">
                <button mat-fab extended matTooltip="Log In" routerLink="login" *ngIf="loggedIn!=true"
                    class="container-fluid" color="warn">
                    <mat-icon class="p-0 m-0">power_settings_new</mat-icon>
                    <p class="p-0 m-1">
                        Log In
                    </p>
                </button>
                <button *ngIf="loggedIn==true" mat-mini-fab matTooltip="logout" (click)="logout()" class="">
                    <mat-icon>logout</mat-icon>
                </button>
            </div>
            <div class="button-container d-inline-block">
                <button mat-mini-fab matTooltip="Dashboard" routerLink="dashboard" *ngIf="loggedIn==true" class="">
                    <mat-icon class="">person</mat-icon>
                </button>
                <button mat-fab extended matTooltip="Register" routerLink="register" *ngIf="loggedIn!=true"
                    class="container-fluid" color="warn">
                    <mat-icon class="p-0 m-0">person_add</mat-icon>
                    <p class="p-0 m-1">
                        Register
                    </p>
                </button>
            </div>
        </div>
    </div>
</mat-toolbar>