<div class="container">
    <div class="card m-3 p-3">
        <div class="d-inline-block px-3">
            <div class="d-flex ">
                <div class="d-flex align-self-center">
                    <div class="d-inline-block p-0">
                        <mat-icon color="primary" class="h-auto w-auto h2 mt-3">local_shipping</mat-icon>
                    </div>
                    <div class="h3 p-0 m-0 mx-2 align-self-center">
                        Deliveries
                    </div>
                </div>
                <div class="ms-auto">
                    <button mat-fab extended color="accent" class="align-self-center m-0" (click)="updateLocation()">
                        <mat-icon class="p-0 m-0 text-dark">my_location</mat-icon>
                        <p class="p-0 m-1 h6">
                            Update Location
                        </p>
                    </button>
                </div>
            </div>
        </div>
        <mat-divider color="primary" class="border-3 my-3"></mat-divider>
        <mat-card class="px-3">
            <mat-tab-group>
                <mat-tab>
                    <ng-template matTabLabel>
                        <div class="h5">
                            In Progress
                        </div>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-in-progress-deliveries></app-in-progress-deliveries>
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template matTabLabel>
                        <div class="h5">
                            Available Deliveries
                        </div>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-available-deliveries></app-available-deliveries>
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template matTabLabel>
                        <div class="h5">
                            My Deliveries
                        </div>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-my-deliveries></app-my-deliveries>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>

</div>