#cart-drawer{
    width: 13vw;
    min-width: 250px;
}
.splash-image{
    background-size:auto; 
    width:auto;
    background-image: url("/assets/bg.png");
}
.full-height{
    height: 100vh;
}

#nav-container{
    min-height: 30vh;
    /* width: 87vw; */
}
#nav-drawer{
    height: fit-content;
    width: fit-content;
}

