<div class="container">
    <form [formGroup]="userInfoGroup" class="">
        <div class="">
            <mat-form-field appearance="fill" id="userId" class="d-inline-block">
                <mat-label>User ID</mat-label>
                <input matInput type="text" id="userId" formControlName="userId" readonly />
            </mat-form-field>
            <mat-form-field appearance="fill" id="userType" class="d-inline-block">
                <mat-label>User Type</mat-label>
                <input matInput type="text" id="userType" formControlName="userType" readonly />
            </mat-form-field>
        </div>
        <div class="">
            <mat-form-field appearance="fill" class="d-inline-block">
                <mat-label>First Name</mat-label>
                <input matInput type="text" id="firstName" formControlName="firstName" />
                <mat-error *ngIf="firstName?.errors?.['required']">
                    First Name is required
                </mat-error>
                <mat-error *ngIf="firstName?.errors?.['minlength']">
                    Minimum 2 character required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="d-inline-block">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" id="lastName" formControlName="lastName" />
            </mat-form-field>
        </div>
        <div class="">
            <mat-form-field appearance="fill" class="d-inline-block">
                <mat-label>Email</mat-label>
                <input matInput type="text" id="email" formControlName="email" />
                <mat-error *ngIf="email?.errors?.['required']">
                    Email is required
                </mat-error>
                <mat-error *ngIf="email?.errors?.['pattern']">
                    Enter valid email address
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="d-inline-block">
                <mat-label>Phone Number</mat-label>
                <input matInput type="number" formControlName="phone" id="phone">
                <mat-error *ngIf="phone?.errors?.['pattern']">
                    Valid phone number contains 10 digits starting with 7/8/9
                </mat-error>
            </mat-form-field>
        </div>
        <div class="">
            <mat-form-field appearance="fill" id="dateOfBirth" class="d-inline-block">
                <mat-label>Date 0f Birth</mat-label>
                <input [max]="maxDateOfBirth" matInput [matDatepicker]="dobPicker" formControlName="dateOfBirth">
                <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                <mat-datepicker #dobPicker></mat-datepicker>
                <mat-error *ngIf="dateOfBirth?.errors?.['required']">
                    Delivery Date is required
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>