<div class="">
    <mat-sidenav-container>
        <mat-sidenav opened="true" mode="side">
            <mat-nav-list *ngIf="userInfo && userInfo!.userType == 'CARRIER'">
                <mat-list-item routerLink="">Deliveries</mat-list-item>
            </mat-nav-list>
            <mat-nav-list *ngIf="userInfo && userInfo!.userType == 'CARRIER'">
                <mat-list-item routerLink="">Update Location</mat-list-item>
            </mat-nav-list>
            <mat-nav-list *ngIf="userInfo && userInfo!.userType == 'SELLER'">
                <mat-list-item routerLink="">Products</mat-list-item>
            </mat-nav-list>
            <mat-nav-list>
                <mat-list-item routerLink="">Information</mat-list-item>
            </mat-nav-list>
            <mat-nav-list>
                <mat-list-item routerLink="">Alerts</mat-list-item>
            </mat-nav-list>
            <mat-nav-list>
                <mat-list-item routerLink="">Orders</mat-list-item>
            </mat-nav-list>
            <mat-nav-list>
                <mat-list-item routerLink="">Security</mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet name="dash-content"></router-outlet>
            <app-user-info-tab [userInfo]="userInfo"></app-user-info-tab>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
