<a routerLink="/shop/{{shop?.userId}}" class="m-2" *ngIf="isInitialized">
    <mat-card [id]="shop?.addressId" mat-ripple class="shop-card d-lg-inline-block" (mouseover)="mouseOverInfo()">
        <mat-card-content class="p-1">
            <div class="d-flex d-lg-block flex-row flex-md-column">
                <div class="img-container align-self-center">
                    <img *ngIf="imgSrc" class="img-thumbnail" mat-card-image [src]="imgSrc"
                        [alt]="shop?.displayImageUrl">
                </div>
                <div class="px-2 px-md-0">
                    <mat-card-title color="primary">
                        {{shop?.fullName}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        <p>{{shop?.line1}}, {{shop?.line2}}, {{shop?.city}}, {{shop?.phoneNumber}}</p>
                    </mat-card-subtitle>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</a>