<mat-nav-list class="container">
    <div>
        <mat-list-item routerLink="information" routerLinkActive="active-link">
            <div class="d-inline-block">
                <div class="tab-label ms-auto">
                    <mat-icon>info</mat-icon>
                    <p class="h5 p-0 m-0 mx-2">
                        Information
                    </p>
                </div>
            </div>
        </mat-list-item>
    </div>
    <div>
        <mat-list-item routerLink="alerts" routerLinkActive="active-link">
            <div class="d-inline-block">
                <div class="tab-label ms-auto">
                    <mat-icon>notifications</mat-icon>
                    <p class="h5 p-0 m-0 mx-2">
                        Alerts
                    </p>
                </div>
            </div>
        </mat-list-item>
    </div>
    <div *ngIf="!isCarrier">
        <mat-list-item routerLink="orders" routerLinkActive="active-link">
            <div class="d-inline-block">
                <div class="tab-label ms-auto">
                    <mat-icon>receipt</mat-icon>
                    <p class="h5 p-0 m-0 mx-2">
                        Orders
                    </p>
                </div>
            </div>
        </mat-list-item>
    </div>
    <div>
        <mat-list-item routerLink="security" routerLinkActive="active-link">
            <div class="d-inline-block">
                <div class="tab-label ms-auto">
                    <mat-icon>security</mat-icon>
                    <p class="h5 p-0 m-0 mx-2">
                        Security
                    </p>
                </div>
            </div>
        </mat-list-item>
    </div>
</mat-nav-list>