<div class="card p-2">
    <div class="d-flex">
        <div *ngFor="let address of addresses" class="m-3 d-inline-block">
            <app-address-card [address]="address" (addressUpdatedEvent)="onAddressModified()"></app-address-card>
        </div>
        <div class="d-inline-block ">
            <mat-card class="d-inline-block p-5 m-3">
                <mat-card-content>
                    <div class="button-container d-inline-block m-0">
                        <button mat-mini-fab matTooltip="Add New Address" class="" color="accent" (click)="addNewAddress()">
                            <mat-icon class="">add</mat-icon>
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>