<div class="">
    <h3 mat-dialog-title>{{dialogData.operation}} Address Details</h3>
    <mat-dialog-content>
        <app-address-form [address]="dialogData.address" [isReadOnly]="false"></app-address-form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="text-center mx-auto py-2">
            <div class="button-container d-inline-block m-0">
                <button mat-mini-fab matTooltip="Cancel" (click)="dialogRef.close(undefined)" class="" color="primary">
                    <mat-icon class="">cancel</mat-icon>
                </button>
            </div>
            <div class="button-container d-inline-block ms-5">
                <button mat-mini-fab matTooltip="Save" (click)="submitFormData()" class="" color="accent" [disabled]="isSaveDisabled()">
                    <mat-icon class="">save</mat-icon>
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>