<div class="container card my-4 w-75 mx-auto">
    <div class="h3 mt-4 ms-4">Welcome to e-Kirana</div>

    <!-- <mat-stepper [linear]="true" [orientation]="(stepperOrientation | async)!" #stepper> -->
    <mat-stepper [linear]="true" orientation='vertical' #stepper>
        <mat-step label="Create your Credentials" completed="false">
            <app-new-user-credentials-step
                (stepCompletedEvent)="setUserCredentials($event)"></app-new-user-credentials-step>
        </mat-step>
        <mat-step label="Enter your Information" completed="false">
            <ng-template matStepContent>
                <app-new-user-info-step [userInfo]="userInfo" [stepUpdate$]="stepUpdate$"></app-new-user-info-step>
            </ng-template>
        </mat-step>

        <mat-step completed="false" label="Enter your Address details">
            <ng-template matStepContent>
                <app-new-user-address-step [userInfo]="userInfo"
                    [stepUpdate$]="stepUpdate$"></app-new-user-address-step>
            </ng-template>
        </mat-step>
        <div *ngIf="userCredentialGroupCompleted">
            <mat-step *ngIf="userInfo.userType != 'CUSTOMER'" completed="false"
                label="Enter your government ID details">
                <ng-template matStepContent>
                    <app-new-user-identification-step [userInfo]="userInfo"
                        [stepUpdate$]="stepUpdate$"></app-new-user-identification-step>
                </ng-template>
            </mat-step>
            <mat-step *ngIf="userInfo.userType == 'CARRIER'" label="Enter your Vehicle Information" completed="false">
                <ng-template matStepContent>
                    <app-new-user-vehicle-info-step [userInfo]="userInfo"
                    [stepUpdate$]="stepUpdate$"></app-new-user-vehicle-info-step>
                </ng-template>
            </mat-step>
        </div>
    </mat-stepper>
</div>