<div class="container card p-3 splash-bg">
    <div class="h4 mb-3">Select your delivery Address</div>
    <div class="d-flex border-1 border-light bg-light rounded-1">
        <div class="m-3">
            <mat-radio-group [formControl]="addressSelector">
                <mat-radio-button *ngFor="let address of addresses" [value]="address.addressId">
                    <app-address-card [address]="address" (addressUpdatedEvent)="onAddressModified()" [isReadOnly]="true"></app-address-card>
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="mx-5 d-flex align-items-center">
            <div class="button-container m-0">
                <button mat-mini-fab matTooltip="Add New Address" class="" color="accent" (click)="addNewAddress()">
                    <mat-icon class="">add</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
