.btn-circle { 
    width: 50px; 
    height: 50px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    font-size: 10px; 
    text-align: center; 
} 

.dialog{
    background-color: #6c757d;
    box-shadow: 0 0px 20px 20px #35393d;
    color: whitesmoke;
}