<mat-card class="my-2">
    <mat-card-content class="container ">
        <div class="d-inline-block col-8 col-md-9 col-lg-10">
            <div class="d-inline-block">
                <img mat-card-image src="{{product.imageUrl}}" alt="{{product.imageUrl}}">
            </div>
            <mat-card-title>
                <div class="h4">
                    {{product.name}}
                </div>
            </mat-card-title>
            <mat-card-subtitle class="">
                <p>{{product.category}}</p>
            </mat-card-subtitle>
            <div class="d-none d-md-block">
                <p>{{product.description}}</p>
                <p>{{product.specifications}}</p>
            </div>
        </div>
        <div class="d-inline-block text-center">
            <div class="">
                <p class="h4">
                    &#8377; {{product.price}}
                </p>
            </div>
            <div class="">
                <p class="">Stock: {{product.quantity}}</p>
            </div>
            <mat-card-actions>
                <div class="" *ngIf="isUserSeller()">
                    <div class="button-container d-inline-block">
                        <button mat-mini-fab color="primary" (click)="updateProduct()">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                    <div class="button-container d-inline-block">
                        <button mat-mini-fab color="primary" (click)="deleteProduct()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="" *ngIf="!isUserSeller()">
                    <button mat-button color="primary" (click)="addProductToCart()">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                </div>
            </mat-card-actions>
        </div>
    </mat-card-content>
</mat-card>