<mat-card class="my-2 product-card">
    <div class="h-100 w-100 mask" *ngIf="isSearchResult" routerLink="/shop/{{product?.sellerId}}">
    </div>
    <mat-card-content class="d-flex flex-row pt-3">
        <div class="product-img p-0 d-flex" *ngIf="imgSrc">
            <img class="img-thumbnail w-100 align-self-center" [src]="imgSrc" alt="{{product.imageUrl}}">
        </div>
        <div class="me-auto details w-100 px-3">
            <div class="h4">
                {{product.name}}
            </div>
            <div class="">
                <p>{{product.category}}</p>
            </div>
            <div class="d-none d-md-block card w-100 p-2 bg-light description"  (click)="toggleDescription()">
                <div>
                    <div class="h6 m-0 p-0 text-decoration-underline">
                        Specifications
                    </div>
                    <div class=" p-0 m-1">
                        {{product.specifications}}
                    </div>
                </div>
                <div id="" *ngIf="showDescription" class="mt-lg-3">
                    <div class="h6 m-0 p-0 text-decoration-underline">
                        Description
                    </div>
                    <div class="m-0 p-1">
                        {{product.description}}
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center align-self-center">
            <div class="">
                <p class="h4 text-nowrap">
                    &#8377; {{product.price}}
                </p>
            </div>
            <div class="h6" *ngIf="canAddToCart">
                <p class=" text-nowrap">In Stock: {{product.quantity}}</p>
            </div>
            <div class="" *ngIf="!canAddToCart">
                <mat-error class="h6 text-danger text-wrap">
                    Out of Stock
                </mat-error>
            </div>
            <div class="d-flex justify-content-evenly" *ngIf="isShopOwner() && !isSearchResult">
                <div class="m-2">
                    <button mat-mini-fab color="primary" (click)="updateProduct()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div class="m-2">
                    <button mat-mini-fab color="primary" (click)="deleteProduct()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="button-container align-self-center ps-3" *ngIf="isCustomer() && !isSearchResult">
            <button mat-mini-fab color="primary" (click)="addProductToCart()" [disabled]="!canAddToCart">
                <mat-icon>add_shopping_cart</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>