<mat-card class="my-2">
    <mat-card-content class="d-flex flex-row">
        <div class="d-inline-block">
            <img src="{{product.imageUrl}}" alt="{{product.imageUrl}}">
        </div>
        <div class="d-inline-block me-auto">
            <div class="h4">
                {{product.name}}
            </div>
            <div class="">
                <p>{{product.category}}</p>
            </div>
            <div class="d-none d-md-block">
                <p>{{product.description}}</p>
                <p>{{product.specifications}}</p>
            </div>
        </div>
        <div class="d-inline-block text-center">
            <div class="">
                <p class="h4">
                    &#8377; {{product.price}}
                </p>
            </div>
            <div class="">
                <p class="">In Stock: {{product.quantity}}</p>
            </div>
            <div class="" *ngIf="isShopOwner()">
                <div class="button-container d-inline-block">
                    <button mat-mini-fab color="primary" (click)="updateProduct()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div class="button-container d-inline-block">
                    <button mat-mini-fab color="primary" (click)="deleteProduct()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="button-container align-self-center ps-5" *ngIf="isCustomer()">
            <button mat-mini-fab color="primary" (click)="addProductToCart()">
                <mat-icon>add_shopping_cart</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>