/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; box-sizing: border-box;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; min-width: 500px;}
.color-green { color: #188452; }
.color-red { color: #bd2130; }
.test{
    border: 1px solid red;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-left: 1vw;
  }
.input-form{
    width: 50%;
    min-width: 400px;
}
.half-width-input{
    width: 47%;
}
.tab-label {
  display: flex;
  justify-content: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}