<div class="container">
    <form [formGroup]="productFormGroup" class="">
        <div class="">
            <mat-form-field appearance="fill" class="d-inline-block">
                <mat-label>Product Name</mat-label>
                <input matInput type="text" id="name" formControlName="name" />
                <mat-error *ngIf="name?.errors?.['required']">
                    Product name is required
                </mat-error>
                <mat-error *ngIf="name?.errors?.['minlength']">
                    Minimum 2 character required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="d-inline-block ">
                <mat-label>Price</mat-label>
                <input matInput type="number" id="price" formControlName="price" step="0.01" />
                <mat-error *ngIf="price?.errors?.['required']">
                    Price name is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="">
            <mat-form-field appearance="fill" id="instructions" class="">
                <mat-label>Specifications</mat-label>
                <textarea matInput type="text" formControlName="specifications"></textarea>
            </mat-form-field>
        </div>
        <div class="">
            <mat-form-field appearance="fill" id="instructions" class="">
                <mat-label>Description</mat-label>
                <textarea matInput type="text" formControlName="description"></textarea>
            </mat-form-field>
        </div>
        <div class="">
            <mat-form-field appearance="fill" class="d-inline-block">
                <mat-label>Category</mat-label>
                <input matInput type="text" id="category" formControlName="category" />
                <mat-error *ngIf="category?.errors?.['required']">
                    Category is required
                </mat-error>
                <mat-error *ngIf="category?.errors?.['minlength']">
                    Minimum 2 character required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="container">
            <div class="d-inline-block">
                <mat-form-field appearance="fill" class="">
                    <mat-label>Quantity</mat-label>
                    <input matInput type="number" id="quantity" formControlName="quantity" step="1" />
                    <mat-error *ngIf="quantity?.errors?.['required']">
                        Quantity is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="isQuantityValid()" class="d-inline-block">
                <mat-radio-group formControlName="available" class="">
                    <mat-label>Enable:</mat-label>
                    <br>
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="" *ngIf="displayInput">
            <app-image-input [imgObj]="productImg" [isReadOnly]="false" (imageLoadedEvent)="onLoadingProductImage($event)"></app-image-input>
        </div>
    </form>
</div>