<td scope="row" class="data">
    <a routerLink="/orders/{{order.orderId}}">
        {{shortId}}
    </a>
</td>
<td class="data">
    <div class="">
        {{placedOnTime}}
    </div>
    <div class="">
        {{placedOnDate}}
    </div>
</td>
<td class="data text-wrap">
    <div class="d-flex" *ngIf="getStatusDisplay as status">
        <div class="d-flex p-0">
            <div class="align-self-center">
                <mat-icon class="{{status.class}}">{{status.icon}}</mat-icon>
            </div>
        </div>
        <div class="p-0 m-0 h-auto">
            <div class="" *ngFor="let s of status.text.split(' ')">
                {{s}}
            </div>
        </div>
    </div>
</td>
<td class="data">
    <div class="d-block" *ngFor="let item of items">
        <div class="d-inline-block ms-auto">{{item.quantity}}</div>
        <div class="d-inline-block px-3">X</div>
        <div class="d-inline-block">{{item.name}}</div>
    </div>
</td>
<td class="data">
    &#8377; {{order.totalAmount}}
</td>
<td class="data" *ngIf="isSeller">
    {{order.customerId}}
</td>
<td class="data" *ngIf="isCustomer">
    {{order.sellerId}}
</td>
<td class="me-auto" *ngIf="!isCarrier">
    <div class="button-container m-2" *ngIf="isCancellable">
        <button matTooltip="Cancel" (click)="cancelOrder()" mat-mini-fab color="warn">
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
    <div class="button-container m-2" *ngIf="isConfirmable">
        <button matTooltip="Confirm" (click)="confirmOrder()" mat-mini-fab color="primary">
            <mat-icon>check_circle</mat-icon>
        </button>
    </div>
</td>