<div class="">
    <form [formGroup]="userCredentialGroup">
        <div class="container my-3">
            <mat-form-field appearance="fill" class="d-inline-block mx-3">
                <mat-label>User ID</mat-label>
                <input matInput type="text" id="userId" formControlName="userId" (blur)="validateUserId()"
                    autocomplete="off" (input)="forceLower()"/>
                <mat-icon matSuffix *ngIf="isUserIdValid === 1 && userId?.valid === true"
                    class="color-green">check_circle</mat-icon>
                <mat-icon matSuffix *ngIf="isUserIdValid === 0" class="color-red">cancel</mat-icon>
                <mat-icon matSuffix *ngIf="isUserIdValid === -1">icon</mat-icon>
                <mat-error *ngIf="userId?.errors?.['required']">
                    User ID is required
                </mat-error>
                <mat-error *ngIf="userId?.errors?.['minlength']">
                    Minimum 5 character required
                </mat-error>
                <mat-error *ngIf="userId?.errors?.['pattern']">
                    Invalid ID format. 
                </mat-error>
                <mat-error *ngIf="userId?.errors?.['userIdConflict']">
                    User ID is not available
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" id="userType" class="d-inline-block">
                <mat-label>User Type</mat-label>
                <mat-select formControlName="userType">
                    <mat-option *ngFor="let type of UserTypes" [value]="type">{{type}}</mat-option>
                </mat-select>
                <mat-error *ngIf="userType?.errors?.['required']">
                    User Type is required.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="container">
            <mat-form-field appearance="fill" class="d-inline-block mx-3">
                <mat-label>Password</mat-label>
                <input matInput type="{{(showPassword === false)?'password':'text'}}" id="password"
                    formControlName="password" autocomplete="off">
                <mat-icon matSuffix style="cursor: pointer;" (click)="toggleShowPassword()">
                    {{!showPassword?'visibility':'visibility_off'}}</mat-icon>
                <mat-error *ngIf="password?.errors?.['required']">
                    Password is required.
                </mat-error>
                <mat-error *ngIf="password?.errors?.['pattern']">
                    Password should have min 8 letter password, with at least a symbol, upper and lower case
                    letters
                    and a number.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="d-inline-block">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="{{(showPassword === false)?'password':'text'}}" id="confirmPassword"
                    formControlName="confirmPassword" autocomplete="off">
                <mat-error *ngIf="confirmPassword?.errors?.['required']">
                    Confirm Password is required.
                </mat-error>
                <mat-error *ngIf="userCredentialGroup?.errors?.['passwordMismatch'] === true">
                    Password and Confirm Password should match.
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>