<div class="container mt-5">
    <mat-card>
        <mat-card-content class="d-flex flex-row">
            <div class="">
                <img src="{{shopInfo.address?.displayImageUrl}}" alt="{{shopInfo.address?.displayImageUrl}}">
            </div>
            <div class="d-inline-block me-auto">
                <div class="h2">{{shopInfo.address?.fullName}}</div>
                <mat-card-subtitle>
                    <p>{{shopInfo.address?.line1}}, {{shopInfo.address?.line2}}, {{shopInfo.address?.city}},
                        {{shopInfo.address?.phoneNumber}}</p>
                </mat-card-subtitle>
            </div>
            <div class="button-container align-self-center" *ngIf="isShopOwner()">
                <button mat-fab extended color="accent" (click)="addProduct()">
                    <mat-icon class="p-0 m-0">add</mat-icon>
                    <p class="p-0 m-1">
                        Product
                    </p>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-divider class="my-3 border-4"></mat-divider>
</div>
<div class="container mb-5 card p-2">
    <app-product-card *ngFor="let product of products" [product]="product"
        (productUpdatedEvent)="getProductsInShop()"></app-product-card>
</div>