<mat-toolbar class="" color="primary">
    <div class="container text-center">
        <div class="my-2">
                <button mat-icon-button><img src="assets/images/instagram.png"></button>
                <button mat-icon-button><img src="assets/images/facebook.png"></button>
                <button mat-icon-button><img src="assets/images/twitter.png"></button>
        </div>
        <div class="my-2">
                &copy; e-Kirana Pvt. Ltd. 2024
        </div>
    </div>
</mat-toolbar>
