<div class="card container my-3 p-3">
    <div class="h4 mb-0 d-flex align-items-center">
        <div class="button-container d-inline-block">
            <button mat-mini-fab matTooltip="Back to Orders" routerLink="/orders" color="primary">
                <mat-icon class="">arrow_back</mat-icon>
            </button>
        </div>
        <div class=" mx-3">
            Order Details [ID:{{orderInfo.orderId}}]
        </div>
    </div>
    <mat-divider class="border-3 my-3"></mat-divider>
    <div class="d-flex">
        <div class="card mx-4 p-3">
            <div> Status:
                <span class="h6">
                    {{orderInfo.status}}
                </span>
            </div>
            <div class=""> Order Date:
                <span class="h6">
                    {{placedOn}}
                </span>
            </div>
            <div *ngIf="!isCustomer" class=""> Customer ID:
                <span class="h6">
                    {{orderInfo.customerId}}
                </span>
            </div>
            <div *ngIf="!isSeller" class=""> Seller ID:
                <span class="h6">
                    {{orderInfo.sellerId}}
                </span>
            </div>
            <div *ngIf="!isCarrier && isCarrierAssigned" class=""> Carrier ID:
                <span class="h6">
                    {{orderInfo.carrierId}}
                </span>
            </div>
            <div *ngIf="isComments" class=""> Comments:
                <span class="h6">
                    {{orderInfo.comments}}
                </span>
            </div>
        </div>
        <div class="card mx-4 p-3">
            <div class="d-flex me-auto">
                <mat-icon class="text-danger">place</mat-icon>
                <p class="h5 p-0 m-0 mx-1">
                    Delivery
                </p>
            </div>
            <div class="mt-2">
                <app-address-card [isReadOnly]="true" [address]="deliveryAddress"></app-address-card>
            </div>
        </div>

        <div *ngIf="!isSeller" class="card mx-4 p-3 d-flex">
            <div class="d-flex me-auto">
                <mat-icon class="text-primary">store</mat-icon>
                <p class="h5 p-0 m-0 mx-1">
                    Shop
                </p>
            </div>
            <div class="mt-2">
                <app-address-card [address]="seller"></app-address-card>
            </div>
        </div>
        <div *ngIf="!isCarrier && isCarrierAssigned" class="card mx-4 p-3">
            <div class="d-flex me-auto">
                <mat-icon class="text-danger">local_shipping</mat-icon>
                <p class="h5 p-0 m-0 mx-1">
                    Carrier
                </p>
            </div>
            <div class="mt-2">
                <mat-card >
                    <mat-card-content>
                        <div class="h6">{{carrier.fullName}}</div>
                        <div class="h6 d-flex">
                            <mat-icon>phone</mat-icon> 
                            {{carrier.phoneNumber}}
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div *ngIf="!isCustomer" class="card mx-4 p-3">
            <div class="d-flex me-auto">
                <mat-icon class="text-info">person</mat-icon>
                <p class="h5 p-0 m-0 mx-1">
                    Customer
                </p>
            </div>
            <div class="mt-2">
                <mat-card>
                    <mat-card-content>
                        <div class="h6">{{customer.fullName}}</div>
                        <div class="h6 d-flex">
                            <mat-icon>phone</mat-icon> 
                            {{customer.phoneNumber}}
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <mat-divider class="border-1 my-3"></mat-divider>
    <div class="container card p-3">
        <div class="h4 mb-3">Items</div>
        <div class="d-flex flex-column">
            <div *ngFor="let item of items">
                <div class="my-2">
                    <mat-card>
                        <mat-card-content>
                            <div class="d-flex flex-row">
                                <div class="" *ngIf="getImage(item) | async as image">
                                    <img class="img-thumbnail" [src]="getImageSrc(image)" [alt]="image.name">
                                </div>
                                <div class="me-auto mx-3 flex-fill">
                                    <mat-card-title>
                                        <div class="">{{item?.name}}</div>
                                    </mat-card-title>
                                    <mat-card-subtitle>
                                        <div class="h6">
                                            &#8377; {{item?.price!}}
                                        </div>
                                    </mat-card-subtitle>
                                    <mat-card-subtitle>Product Id: {{item?.productId}}</mat-card-subtitle>
                                </div>
                                <div class="h5 px-5 d-flex align-items-center">
                                    <div class="text-nowrap">
                                        Qty: {{item?.quantity}}
                                    </div>
                                </div>
                                <div class="h5 text-center px-3 d-flex align-items-center">
                                    <div class="text-nowrap">
                                        &#8377; {{item?.price! * item.quantity!}}
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <mat-divider class="border-1 my-3"></mat-divider>
            <div class="">
                <mat-card-content>
                    <div class="d-flex flex-row ">
                        <div class="h4 text-center ms-auto">
                            Total:
                        </div>
                        <div class="h5 px-5 d-flex align-items-center">
                            <div class="text-nowrap">
                                Qty: {{itemCount}}
                            </div>
                        </div>
                        <div class="h5 text-center px-3 d-flex align-items-center">
                            <div class="text-nowrap">
                                &#8377; {{orderInfo.totalAmount}}
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </div>
        </div>
    </div>
</div>