<div class="my-2 checkout-card rounded-2">
    <mat-card>
        <mat-card-content>
            <div class="d-flex flex-row">
                <div class="d-inline-block product-img me-4" *ngIf="imgSrc">
                    <img class="img-thumbnail" [src]="imgSrc" alt="{{cartItem.item?.imageUrl}}">
                </div>
                <div class="me-auto">
                    <mat-card-title>
                        <div class="">{{cartItem.item?.name}}</div>
                    </mat-card-title>
                    <mat-card-subtitle>Seller: {{cartItem.item?.sellerId}}</mat-card-subtitle>
                </div>
                <div class="">
                    <app-quantity-form [cartItem]="cartItem" [isReadOnly]="isReadOnly"></app-quantity-form>
                </div>
                <div class="h5 text-center w-25">
                    &#8377; {{cartItem.item?.price! * cartItem.quantity!}}
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
